<div class="container mt-5">
    <div class="text-center">
        <img src="assets/logo.png" class="logo">
        <h3>Ingrese sus datos</h3>
    </div>
    
    <form>

        <div class="form-group">
          <label for="email">Email </label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="user@mail.com">
          
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        
        <button type="submit" class="btn btn-primary">Ingresar</button>
      
    </form>
</div>
