<div class="container mt-5">
    <form>
        <div class="row">
            <div class="form-group col-sm">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" placeholder="Ingrese el nombre">          
            </div>
            <div class="form-group col-sm">
                <label for="lastName">Apellido</label>
                <input type="text" class="form-control" id="lastName" placeholder="Ingrese el apellido">          
            </div>
            <div class="form-group col-sm">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="contact@email.com">          
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="form-group col-sm">
                <label for="DNI">DNI</label>
                <input type="text" class="form-control" id="DNI" placeholder="12345678">          
            </div>
            <div class="form-group col-sm">
                <label for="phone">Teléfono</label>
                <input type="tel" class="form-control" id="phone" placeholder="011-4123456">          
            </div>              
            <div class="form-group col-sm">
                <label for="birth">Fecha de nacimiento</label>
                <input type="date" class="form-control" id="birth" placeholder="Fecha de nacimiento">          
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="form-group col-sm">
                <label for="userImg">Foto del Cliente</label>
                <input type="file" class="form-control" id="userImg" placeholder="Archivo de imagen">          
            </div>            
        </div>

        <button class="btn btn-primary float-right">Agregar cliente</button>
    </form>
</div>