<div class="container mt-5">
    <div class="row">
        <div class="col-sm-8">
            <h4>Precios</h4>
            <li>Suscripción Mensual</li>
            <li>Suscripción Semestral</li>
            <li>Suscripción Anual</li>
        </div>
        <div class="col-sm-4">
            <h4>Agregar/Editar</h4>
            <form action="">
                <div class="form-group">
                    <label for="my-input">Nombre</label>
                    <input id="my-input" class="form-control" type="text" name="">
                </div>
                <div class="form-group">
                    <label for="my-input">Costo</label>
                    <input id="my-input" class="form-control" type="number" name="">
                </div>
                <div class="form-group">
                    <label for="my-input">Duración</label>
                    <input id="my-input" class="form-control" type="number" name="">
                </div>
                <div class="form-group">
                    <label for="my-input">Tipo de Suscripción</label>
                    <input id="my-input" class="form-control" type="number" name="">
                </div>
            </form>
        </div>
    </div>
</div>
